appdirs==1.4.4
Click==7.1.2
Flask==1.1.2
idna==2.10
importlib-metadata==2.0.0
importlib-resources==3.0.0
inflect==4.1.0
irc==19.0.1
itsdangerous==1.1.0
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.1
jaraco.itertools==5.0.0
jaraco.logging==3.0.0
jaraco.stream==3.0.0
jaraco.text==3.2.0
Jinja2==2.11.3
MarkupSafe==1.1.1
more-itertools==8.5.0
pytz==2020.1
six==1.15.0
tempora==4.0.0
uritools==3.0.0
urlextract==1.1.0
Werkzeug==1.0.1
zipp==3.3.0
