appdirs==1.4.3
Click==7.0
Flask==1.1.1
idna==2.8
importlib-metadata==0.23
importlib-resources==1.0.2
inflect==3.0.1
irc==17.1
itsdangerous==1.1.0
jaraco.classes==2.0
jaraco.collections==2.1
jaraco.functools==2.0
jaraco.itertools==4.4.2
jaraco.logging==2.0
jaraco.stream==2.0
jaraco.text==3.1
Jinja2==2.10.3
MarkupSafe==1.1.1
more-itertools==7.2.0
pytz==2019.3
six==1.12.0
tempora==1.14.1
uritools==2.2.0
urlextract==0.14.0
Werkzeug==0.16.0
zipp==0.6.0
