<!doctype html>
<html lang="en">
  <div class="main-container">
    <header>
      <title>LinkGrabber {{ channel }} </title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    </header>
    <body>
      <h1>
        {{ server }} {{ channel }}
      </h1>
      <table class="TFtable">
        {% for link in links %}
        <tr>
          <td>
            {{ link[0] }} {{ '<' }}{{ link[1] }}{{ '>' }}: <a href="https://{{ link[2] }}">{{ link[2] }}</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </body>
    <h2>
    <center>
      <a href="/{{ previous_page }}">&lt;</a> <a href="/{{ next_page }}"}>&gt;</a>
    </center>
    <h2>
    <footer>
      <h6>
        LinkGrabber
	<br>
        <a href="https://github.com/daviddever/LinkGrabber">github.com/daviddever/LinkGrabber</a>
      </h6>
    </footer>
  </div>
</html>
